.ingredient {
    position: relative;
    width: 100%;
    background-color: transparent;
    background-color: transparent !important;

    input[type=text] {
        position: absolute;

        left: 0; right: 0;
        top: 0; bottom: 0;

        pointer-events: none;
        border: none;
        background-color: transparent;
        opacity: 0;
    }
}

.ingredient-input {
    width: 100%;
}