@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import "normalize.css";

:root {
    --color-1: #020202;

    --bg-color-1: #ffffff;
    --bg-color-2: #F2F2F2;
    --bg-color-3: #D9D9D9;

    --border-radius: 12px;

    --page-padding: 20px;

    --shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

// html, body {
//     min-height: 300%;
// }

*, html, body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-1);
}

hr {
    border: none;
    border-bottom: solid 1px var(--bg-color-2);
    margin: 20px 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=search],
textarea,
.ingredient {
  padding: 8px 20px;
  padding-top: 12px;
  background-color: var(--bg-color-2);
  border: none;
  color: black;
  border-radius: 1000px;

  background-color: white;
  border: solid 1px var(--bg-color-3);

  &:focus {
      outline: solid 2px black;
  }
}

button,
input[type=submit] {
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  background-color: var(--bg-color-2);
  padding: 10px 10px;
  border-radius: var(--border-radius);
  border-radius: 1000px;
  font-weight: 400;
}

.input-group {
  position: relative;

  label {
    top: 0;
    left: 0;
    transform: translate(15px, -40%);
    position: absolute;
    padding-bottom: 3px;
    font-size: .8em;
    font-weight: 300;

    background-color: white;
    padding: 0 5px;
  }
}

.pages {
    & > * {
        position: absolute;
        width: 100%;
    }
}

// Common Classes

.page-title {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 16px 0;
    padding-bottom: 4px;
    border-bottom: solid 1px var(--bg-color-2);
}

.button-circle {
    border: none;
    background-color: var(--bg-color-2);
    border-radius: 100%;
    padding: 8px;
    display: grid;
    place-content: center;
}

.icon {
    width: 1em;
    height: 1em;

    &.star {
        width: 1.15em;
        height: 1.15em;
    }
}

.sqr {
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    > * {
        position: absolute;
    }

    > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.small-caps {
    font-size: .8em;
    text-transform: uppercase;
}

.error-message {
    display: block;
    height: 0%;
    overflow: hidden;
    color: rgb(255, 46, 46);
    padding-top: 3px;
    font-weight: 300;
    font-size: .8em;
    transition: all ease-in-out 5s;
}

/**** GOOGLE SIGN IN BUTTON ****/

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
  }
  
  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
  }
  