.search-bar {
    background-color: var(--bg-color-2);
    border-radius: var(--border-radius);
    padding: 3px 8px;
    display: flex;
    align-items: center;
    gap: 3px;
    
    input {
        width: 100%;
        padding: 2px;
        background-color: transparent;
        border: none;
        font-weight: 300;
        color: black;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &:focus {
            outline: none;
        }
    }

    img:first-of-type {
        box-sizing: content-box;
        border-right: solid 1px var(--bg-color-3);
        padding-right: 6px;
    }

    &:has(input:focus) {
        outline: solid 2px black;
    }
}