nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px var(--page-padding);
    padding-bottom: var(--page-padding);
    box-shadow: var(--shadow);
    font-size: 1.2rem;
    z-index: 10;

    a {
        padding: 0 5px;
        
        &:nth-child(3) img {
            width: 1.7em;
            height: 1.7em;
        }
     
        &.active {
            border-bottom: solid 2px black;
        }
    }
}