.auth-page {
    padding: var(--page-padding);

    h1 {
        text-align: center;
        margin: 0;
    }

    h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 400;
        text-transform: capitalize;
        font-size: .9em;
    }

    form {


        input[type=text],
        input[type=password] {
            width: 100%;
        }

        input[type=submit] {
            margin-top: 15px;
        }

        .auth-state-message {
            text-align: center;
            font-weight: 300;
            font-size: .8em;

            span {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 8px;
                    border-bottom: solid 1px black;
                }
            }
        }

        .socials {
            padding-top: 15px;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}